*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(117, 117, 117);
    margin-top: 150px;
}

.container{
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    background-color: rgb(204, 223, 226);
}

header{
    padding: 16px 0;
    justify-content: center;
    text-align: center;
}

form{
    padding: 24px 0;
    display: inline-block;
}

input, button{
    padding: 8px;
    margin: 8px;
    text-align: center;
}

button{
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(255, 182, 86);
}

button:hover{
    background-color: rgb(248, 207, 152) ;
}

ul{
    display: inline-block;
    justify-content: center;
    flex-wrap:wrap;
}

ul li{
    margin: 16px;
    font-size: 20px;
}

li:hover{
    cursor: pointer;
}

.checked{
    text-decoration: line-through;
}