// Fontes
$fontPrincipal: 'Roboto', sans-serif;

// Esquema de Cores
$corDeFunda: #f5f6fa;
$corPrimeria: #182C61;
$corSecundaria: #44bd32;
$fontColor: #fff;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;
